In [9]:
import pandas as pd
from datetime import datetime, timedelta
import sqlalchemy 
import urllib.request
import argparse
    


num_weeks = 12

#set start date
startdate = pd.Timestamp('2021-03-20 00:00:00')

config_dates = []
config_dates.append(startdate)

for week in range(num_weeks):
    startdate = config_dates[-1]
    newdate = startdate - timedelta(days=7)
#    print(newdate)
    config_dates.append(newdate)
#    print(week)


#initialise the regex for the MTA turnstile url
filename_regex = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"


#generate dates for 11 weeks
for week in config_dates:
    datetext = str(week)
    filedate_str = datetext[2:4]+datetext[5:7]+datetext[8:10]
    print(filedate_str)
    urllib.request.urlretrieve(f"http://web.mta.info/developers/data/nyct/turnstile/turnstile_{filedate_str}.txt",
                               f"Metis_Material/MTA_Project/Data/inbound/turnstile_{filedate_str}.txt")
    


#df['STATION'].value_counts()

#####
# skip header when uploading files into DB
#Terminal Reader: .mode csv
#Terminal Reader: .import meal_data.csv {tablename} ---- For MTA Project > insert files into DB.
#https://stackoverflow.com/questions/51802854/how-do-i-import-a-text-file-into-a-sqlite3-table-using-python

210320
210313
210306
210227
210220
210213
210206
210130
210123
210116
210109
210102
201226

In [78]:
SCP, STATION, DATE

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,RN
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,03:00:00,REGULAR,7543925,2573549,1
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,07:00:00,REGULAR,7543931,2573559,2
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,11:00:00,REGULAR,7543970,2573622,3
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,15:00:00,REGULAR,7544072,2573700,4
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,19:00:00,REGULAR,7544219,2573729,5
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/13/2021,23:00:00,REGULAR,7544310,2573737,6
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/14/2021,04:00:00,REGULAR,7544321,2573741,1
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/14/2021,08:00:00,REGULAR,7544326,2573747,2
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/14/2021,12:00:00,REGULAR,7544359,2573776,3
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/14/2021,16:00:00,REGULAR,7544436,2573815,4
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/14/2021,20:00:00,REGULAR,7544559,2573830,5
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/15/2021,00:00:00,REGULAR,7544591,2573843,1
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/15/2021,04:00:00,REGULAR,7544594,2573844,2
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/15/2021,08:00:00,REGULAR,7544603,2573895,3
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/15/2021,12:00:00,REGULAR,7544656,2574003,4
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/15/2021,16:00:00,REGULAR,7544819,2574040,5
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/15/2021,20:00:00,REGULAR,7545056,2574066,6
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2021,00:00:00,RECOVR AUD,7545133,2574079,1
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2021,04:00:00,RECOVR AUD,7545133,2574079,2
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/16/2021,08:00:00,REGULAR,7545153,2574142,3

# df[(df['STATION'] == '59 ST') & (df['DATE'] == '03/14/2021') & (df['SCP']=='02-00-00')]

In [1]:
df.groupby(['STATION', 'SCP', 'DATE', 'ENTRIES'])

NameError: name 'df' is not defined

In [1]:
df_test = df.groupby(['DATE'])
df_test

NameError: name 'df' is not defined